################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP2139-Web-App-Dev-Assignment_1/v17/.wsuo
/.vs/COMP2139-Web-App-Dev-Assignment_1/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/Assignment1/.vs/Assignment1/DesignTimeBuild/.dtbcache.v2
/Assignment1/.vs/Assignment1/FileContentIndex/b15ce032-1c22-4057-b3c9-0bf92e64a72f.vsidx
/Assignment_1/.vs/Assignment_1/config/applicationhost.config
/Assignment_1/.vs/Assignment_1/FileContentIndex/0fbe8c2f-0f3b-4e04-8774-2bd046d632e5.vsidx
/Assignment_1/.vs/Assignment_1/FileContentIndex/220dcc98-6103-44fc-b141-9c4270903719.vsidx
/Assignment_1/.vs/Assignment_1/FileContentIndex/5d6cfdfd-696e-4248-a80a-4b5ab6224b71.vsidx
/Assignment_1/.vs/Assignment_1/FileContentIndex/5e1bae2c-5e77-4deb-8581-f86c7f529fa9.vsidx
/Assignment_1/.vs/Assignment_1/FileContentIndex/8275c9e1-f76b-4a9a-bb52-43694c020ace.vsidx
/Assignment_1/.vs/Assignment_1/v17/.suo
/Assignment_1/.vs/Assignment_1/v17/DocumentLayout.json
/Assignment_1/Migrations/20240227011346_InitialCreate.cs
/Assignment_1/Migrations/20240227011346_InitialCreate.Designer.cs
/Assignment_1/Migrations/AppDbContextModelSnapshot.cs
/Assignment_1/obj/Debug/net8.0/ApiEndpoints.json
/Assignment_1/obj/Debug/net8.0/apphost.exe
/Assignment_1/obj/Debug/net8.0/Assignme.0A7F7640.Up2Date
/Assignment_1/obj/Debug/net8.0/Assignment_1.AssemblyInfo.cs
/Assignment_1/obj/Debug/net8.0/Assignment_1.AssemblyInfoInputs.cache
/Assignment_1/obj/Debug/net8.0/Assignment_1.GeneratedMSBuildEditorConfig.editorconfig
/Assignment_1/obj/Debug/net8.0/Assignment_1.sourcelink.json
/Assignment_1/obj/Debug/net8.0/project.razor.vs.bin
