@model Assignment_1.Models.User

@{
    ViewData["Title"] = "CreateGuestUser";
}

<h1>Passenger Information</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGuestUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.Hidden("hotelId", ViewData["HotelId"])

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Hotels" asp-action="Index" class="mt-2 btn btn-outline-secondary">Back to Listings</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
